---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Philosophy from '../components/Philosophy.astro';
import BlogsCarousel from '../components/BlogsCarousel.astro';
import WhoIsRvfet from '../components/WhoIsRvfet.astro';
import StuffBuilt from '../components/StuffBuilt.astro';
import TechnicalSkills from '../components/TechnicalSkills.astro';
import CodingStats from '../components/CodingStats.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Rafet Abbasli | Senior Software Engineer & Offensive Security Researcher">
    <Header />
    <main class="relative min-h-screen">
        <Hero />
        <WhoIsRvfet />
        <BlogsCarousel />
        <Philosophy />
        <StuffBuilt />
        <TechnicalSkills />
        <CodingStats />
        <Footer />
    </main>
</Layout>
